<div class="contenedor">
  <mat-spinner *ngIf="!resultado" [@animationFadeOut]="resultado"></mat-spinner>
  <div class="contenido">
    <div class="encabezadoPaso">
      <p class="izquierda">Respuesta a tu solicitud</p>
    </div>
    <hr>
    <div class="contRespuesta">
      <div [@animationFadeOut]="resultado">
        <!-- APROBADO  -->
        <div *ngIf="letraMensaje === 'A' || letraMensaje === 'B' || letraMensaje === 'C' ">
          <div class="contRespuesta">
            <img [src]="const.aprobado" alt="">
            <h1 class="tituloAprobado">¡Tu solicitud es viable!</h1>
            <p class="textoRespuesta">Pronto uno de nuestros asesores te llamara para acompañarte hasta que tengas tu
              vehículo.</p>
          </div>
        </div>
        <!--Respuesta D-->
        <div *ngIf="letraMensaje === 'D'">
          <div class="contRespuesta">
            <img [src]="const.negado" alt="">
            <h2 class="tituloNegado">¡Lo sentimos!</h2>
            <p class="textoRespuesta">Tu solicitud no es viable en este momento.</p>
          </div>
        </div>
        <!--Respuesta E-->
        <div *ngIf="letraMensaje === 'E'">
          <div class="contRespuesta">
            <img [src]="const.negado" alt="">
            <h2 class="tituloNegado">¡Ups ocurrió un error!</h2>
            <p class="textoRespuesta">Tuvimos un problema, por favor intenta más tarde.</p>
          </div>
        </div>
        <!--Respuesta Null-->
        <div *ngIf="letraMensaje === null ">
          <div class="contRespuesta">
            <img [src]="const.negado" alt="">
            <h2 class="tituloNegado">¡Ups ocurrió un error!</h2>
            <p class="textoRespuesta">Tuvimos un problema, por favor intenta más tarde.</p>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="contBotonPaso">
      <div *ngIf="resultado" [@animationFadeOut]="resultado" class="piepaso">
        <a [href]="const.webAliado" target="_blank">
          <button color="primary" id="finalizar" (click)="gotoReferrer()" mat-button matStepperNext>Volver a {{
            const.nombreCliente }}<mat-icon>arrow_right_icon</mat-icon>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
