@import './../../../scss/variables';
@import './../../../scss/mixins';


.contenedor {
    display: grid;
    grid-template-rows: 1fr;
}

.contCampoDos {
    @include tabletLaptop() {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-column-gap: 5px;
    }
}

.advertencia {
    font-size: 9px;
    color: rgb(138, 0, 0);
}

.santanderFinancing {
    display: grid;
    grid-template-columns: 25% 65%;
    text-align: justify;
    grid-column-gap: 10px;
    .centro {
        align-items: center;
        width: 130px;
    }
    p {
        font-size: 10px;
    }
}

div#check {
    font-size: 10px;
    text-align: center;
    margin: 20px 0;
    strong {
        text-decoration: underline;
    }
    .pointer {
        color: #551a8b !important;
    }
}

::placeholder {
    color: black !important;
}
